In [75]:
import pandas as pd
import numpy as np

In [76]:
def remove_least_important_features(df, importance, removed_features, num_features_to_remove=1):
    sorted_indices = np.argsort(importance)
    selected_indices = sorted_indices[num_features_to_remove:]
    pruned_data = df.iloc[:, selected_indices]
    # save the removed features
    removed_features.extend(sorted_indices[:num_features_to_remove])
    return pruned_data, selected_indices

In [77]:
df = {
    'par1': [1,3,6,8,9],
    'par2': [4,5,8,9,3],
    'par3': [5,7,8,3,2]
}

df = pd.DataFrame(df)
df.index = ['a', 'b', 'c', 'd', 'e']
df

   par1  par2  par3
a     1     4     5
b     3     5     7
c     6     8     8
d     8     9     3
e     9     3     2

In [78]:
importance = [0.2, 0.1, 0.001]
rem_f = []

In [79]:
data, selected_indices = remove_least_important_features(df, importance, rem_f, num_features_to_remove=2)
data

   par1
a     1
b     3
c     6
d     8
e     9

In [80]:
rem_f

[2, 1]